@{
    ViewBag.Title = "Operas I Have Seen";
}

<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.js" type="text/javascript"></script>
<script src="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>

    <div>
        <h1>Operas I Have Seen</h1>

        <p>
            Welcome! On this site I'm going to discuss my hobby: listening
            to opera. Start by looking at the 
            @Html.ActionLink("operas I've seen.", "Index", "Opera")
        </p>

        <div id="divMessage" ></div>

        @Ajax.ActionLink(
       "Refresh", "HelloWorld",
       new AjaxOptions
       {
           HttpMethod = "POST",
           UpdateTargetId = "divMessage",
           InsertionMode = InsertionMode.InsertAfter
       }
       )
    </div>
